.weather {
    height: 100vh;
    transition: all 0.5s ease;
}

.scenario {
    height: 100%;
    padding: 20px;
}

.scenario h1 {
    font-weight: 200;
    font-size: 100px;
    margin: 0;
}

header {
    height: calc(100vh - 250px);
}

.scenario.sun {
    background: linear-gradient(#0CE6FE, #0CE6FE, #FFF);
}

.scenario.clear {
    background: linear-gradient(#e2fcff, #e2fcff, #FFF);
}

.scenario.clouds {
    background: linear-gradient(#C2D7D9, #C2D7D9, #FFF);
}

.current_temp {
    margin-bottom: 0;
}

.current_temp__max {
    font-size: 50px;
}

.current_temp__min {
    font-size: 30px;
}

.current_temp--label {
    font-size: 13px;
    padding-right: 10px;
    font-weight: bold
}