.weather {
    height: 100vh;
    transition: all 0.5s ease;
}

.scenario {
    height: 100%;
    /* padding: 20px; */
}

.scenario h1 {
    font-weight: 200;
    font-size: 100px;
    margin: 0;
}

header {
    height: calc(100vh - 250px);
    padding: 0 20px;
}

.scenario.sun {
    background: linear-gradient(#0CE6FE, #0CE6FE, #FFF);
}

.scenario.clear {
    background: linear-gradient(#e2fcff, #e2fcff, #FFF);
}

.image-clear {
    background-image: url('/png/clear.png');
    background-repeat: no-repeat;
    animation: shift-backgroud 20s;
    background-position-x: 35vw;

}

.scenario.clouds {
    background: linear-gradient(#C2D7D9, #C2D7D9, #FFF);
}

.image-clouds {
    background-image: url('/png/clouds.png');
    background-repeat: no-repeat;
    animation: shift-backgroud 20s;
    background-position-x: 35vw;

}

.scenario.rain {
    background: linear-gradient(#e2fcff, #e2fcff, #FFF);
}

.image-rain {
    background-image: url('/png/rain.png');
    background-repeat: no-repeat;
    animation: shift-backgroud 20s;
    background-position-x: 35vw;

}

@keyframes shift-backgroud {
    0% {
        background-position-x: 70vw;
    }

    /* 
    75% {
        background-position-x: 25vw;
    } */

    100% {
        background-position-x: 35vw;
    }
}

.current_temp {
    margin-bottom: 0;
}

.current_temp__max {
    font-size: 50px;
}

.current_temp__min {
    font-size: 30px;
}

.current_temp--label {
    font-size: 13px;
    padding-right: 10px;
    font-weight: bold
}