.weather {
    height: 100vh;
    transition: all 0.5s ease;
}

.scenario {
    height: 100%;
}

.scenario h1 {
    font-weight: 200;
    font-size: 4rem;
    margin: 0;
}

header {
    height: calc(100vh - 272px);
    padding: 0 20px;
}

.header-backgroud {
    background-repeat: no-repeat;
    animation: shift-backgroud linear 20s;
    background-position-x: 35vw;
    background-size: contain;
}

.scenario.clearsky {
    background: linear-gradient(#0CE6FE, #0CE6FE, #FFF);
}

.header-backgroud.image-clearsky {
    background-image: url('/png/clearsky.png');
}

.scenario.fewclouds {
    background: linear-gradient(#0CE6FE, #0CE6FE, #FFF);
}

.header-backgroud.image-fewclouds {
    background-image: url('/png/fewclouds.png');
}

.scenario.brokenclouds {
    background: linear-gradient(#C2D7D9, #C2D7D9, #FFF);
}

.header-backgroud.image-brokenclouds {
    background-image: url('/png/brokenclouds.png');
}

.scenario.lightrain {
    background: linear-gradient(#e2fcff, #e2fcff, #FFF);
}

.header-backgroud.image-lightrain {
    background-image: url('/png/lightrain.png');
}

.scenario.showerrain {
    background: linear-gradient(#e2fcff, #e2fcff, #FFF);
}

.header-backgroud.image-showerrain {
    background-image: url('/png/showerrain.png');
}

.scenario.scatteredclouds {
    background: linear-gradient(#e2fcff, #e2fcff, #FFF);
}

.header-backgroud.image-scatteredclouds {
    background-image: url('/png/scatteredclouds.png');
}

.scenario.moderaterain {
    background: linear-gradient(#e2fcff, #e2fcff, #FFF);
}

.header-backgroud.image-moderaterain {
    background-image: url('/png/moderaterain.png');
}

.scenario.heavyintensityrain {
    background: linear-gradient(#e2fcff, #e2fcff, #FFF);
}

.header-backgroud.image-heavyintensityrain {
    background-image: url('/png/heavyintensityrain.png');
}


.scenario.lightintensityshowerrain {
    background: linear-gradient(#e2fcff, #e2fcff, #FFF);
}

.header-backgroud.image-lightintensityshowerrain {
    background-image: url('/png/lightintensityshowerrain.png');
}

.scenario.overcastclouds {
    background: linear-gradient(#e2fcff, #e2fcff, #FFF);
}

.header-backgroud.image-overcastclouds {
    background-image: url('/png/overcastclouds.png');
}

@keyframes shift-backgroud {
    0% {
        background-position-x: 50vw;
    }

    50% {
        background-position-x: 35vw;
    }

    100% {
        background-position-x: 20vw;
    }
}

.current_temp {
    margin-bottom: 0;
}

.current_temp__max {
    font-size: 50px;
}

.current_temp__min {
    font-size: 30px;
}

.current_temp--label {
    font-size: 13px;
    padding-right: 10px;
    font-weight: bold
}

.w-current__description {
    font-size: 12px;
}

.w-current__description::first-letter {
    text-transform: capitalize;
}